{% paginate questions as questionsInfo, questionsEntries %}

<div id="qarr-{{ type }}-container" class="qarr-entries-container" data-element-id="{{ element.id }}">
    {% include 'qarr/frontend/_questions/entries' ignore missing with { entries: questions } %}
</div>

<div class="qarr-entries-footer">
    {% if questionsEntries and questionsInfo.totalPages > 1 %}
        {% include 'qarr/frontend/_includes/pagination' ignore missing with { type: 'questions', info: questionsInfo, style: pagination } %}
    {% endif %}
    {% include 'qarr/frontend/_includes/copyright' ignore missing %}
</div>