{% paginate reviews as reviewsInfo, reviewsEntries %}

<div id="qarr-{{ type }}-container" class="qarr-entries-container" data-element-id="{{ element.id }}">
    {% include 'qarr/frontend/_reviews/entries' ignore missing with { entries: reviews } %}
</div>

<div class="qarr-entries-footer">
    {% if reviewsEntries and reviewsInfo.totalPages > 1 %}
        {% include 'qarr/frontend/_includes/pagination' ignore missing with { type: 'reviews', info: reviewsInfo, style: pagination } %}
    {% endif %}
    {% include 'qarr/frontend/_includes/copyright' ignore missing %}
</div>
