<div class="breadcrumbs">
    <a href="{{ url('qarr/campaigns/direct') }}" class="inline-flex items-center text-xs text-indigo-400 mb-3 -ml-1 hover:text-indigo-500">
        <svg xmlns="http://www.w3.org/2000/svg" class="fill-current mr-0" width="20" height="20" viewBox="0 0 20 20"><path d="M7.05 9.293L6.343 10 12 15.657l1.414-1.414L9.172 10l4.242-4.243L12 4.343z"></path></svg>
        <span>{{ 'Back to links'|t('qarr') }}</span>
    </a>
</div>
<h1>{{ subTitle|t('qarr') }}</h1>
