{% requirePermission 'qarr:accessCampaigns' %}

{% extends 'qarr/_layouts/cp-static-craft' %}

{% set title = "Campaigns"|t('qarr') %}
{% set selectedSubnavItem = "campaigns" %}
{% set selectedSidebarItem = "campaigns" %}

{% block actionButton %}
    <a href="{{ url('qarr/campaigns/new') }}" class="btn submit add icon disabled">{{ "New Campaign"|t('qarr') }}</a>
{% endblock %}

{% block sidebar %}
    {% include 'qarr/campaigns/_includes/sidebar' ignore missing %}
{% endblock %}

{% block content %}
    <p id="noelements">{{ "No campaigns exist yet."|t('qarr') }}</p>
{% endblock %}