<div class="btn menubtn">{{ "Set status"|t('qarr') }}</div>
<div class="menu">
    <ul>
        <li><a class="formsubmit" data-param="status" data-value="pending"><span class="status pending"></span> {{ "Pending"|t('qarr') }}</a></li>
        <li><a class="formsubmit" data-param="status" data-value="approved"><span class="status approved"></span> {{ "Approved"|t('qarr') }}</a></li>
        <li><a class="formsubmit" data-param="status" data-value="rejected"><span class="status rejected"></span> {{ "Rejected"|t('qarr') }}</a></li>
    </ul>
</div>
