{% extends "_layouts/cp" %}

{% do view.registerAssetBundle("owldesign\\qarr\\web\\assets\\UI") %}
{% do view.registerAssetBundle("owldesign\\qarr\\web\\assets\\ElementShared") %}
{% do view.registerAssetBundle("owldesign\\qarr\\web\\assets\\ElementEdit") %}

{% import "_includes/forms" as forms %}
{% import "qarr/_includes/macros/_buttons" as buttons %}

{% set selectedSubnavItem = "questions" %}
{% set bodyClass = 'qarr qarr-element-edit' %}

{% set tabs = [
    {
        'id': 'question',
        'label': 'Question',
        'url': '#question'
    },
    {
        'id': 'correspondence',
        'label': 'Email Correspondence',
        'url': '#correspondence'
    }
] %}

{% block content %}
    <div id="question">
        {% set answers = entry.getAnswers() %}

        <div class="block-element">
            <div class="block-header flex-container mb-2">
                <h2>{{ 'Question'|t('qarr') }}</h2>
                <span class="ml-auto">
                    {% include 'qarr/_elements/element-postdate' ignore missing with {entry: entry} %}
                </span>
            </div>

            <div class="block-body">
                <div class="feedback">
                    {% include 'qarr/_elements/element-flags' ignore missing with { entry: entry, type: 'questions' } %}

                    {% set flaggedWords = flaggedWords(entry.flags) %}
                    {% if flaggedWords %}
                        {% set feedback = entry.question|occurrence(flaggedWords) %}
                    {% else %}
                        {% set feedback = entry.question %}
                    {% endif %}

                    <p class="feedback-text text-lg">{{ feedback |raw }}</p>

                </div>
            </div>

            <hr>

            {% include 'qarr/_elements/element-actions' ignore missing with { entry: entry, type: 'questions' } %}
        </div>

        <br><br>

        <div class="block-element" id="answers-element">
            <div class="block-header">
                <h2 class="relative flex-container">
                    <div class="mr-2">{{ 'Answers'|t('qarr') }}</div>
                    <div class="loader hidden ml-auto"><svg width="20px" height="20px" viewBox="0 0 42 42" xmlns="http://www.w3.org/2000/svg" stroke="#E9EFF4"><g fill="none" fill-rule="evenodd"><g transform="translate(4 3)" stroke-width="5"><circle stroke-opacity=".5" cx="18" cy="18" r="18"></circle><path d="M36 18c0-9.94-8.06-18-18-18" transform="rotate(217.494 18 18)"><animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18" dur="1s" repeatCount="indefinite"></animateTransform></path></g></g></svg></div>
                </h2>
            </div>
            <div class="block-body">
            {% for answer in answers %}
                {% include 'qarr/_elements/element-entry-answer' ignore missing with { answer: answer } %}
            {% endfor %}
            </div>
        </div>

        {# DISPLAY FIELDS#}
        {% if fieldLayoutTabs is defined is not empty %}
            {% include 'qarr/_elements/element-entry-display-fields' ignore missing with { entry: entry } %}
        {% endif %}
    </div>

    <div id="correspondence" class="hidden">
        {% include 'qarr/_elements/element-entry-correspondence' ignore missing with { entry: entry, type: 'questions' } %}
    </div>

{% endblock %}

{% block details %}
    {% include 'qarr/_elements/element-entry-settings' ignore missing with { entry: entry, type: 'questions' } %}
{% endblock %}
