<div class="star-rating flex-container">
    {% for star in 1..5 %}
        <span class="star mx-1 text-gray-200 {% if rating >= star %} text-yellow-500 active{% endif %}">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" class="fill-current" viewBox="0 0 20 20"><path d="M10 15l-5.878 3.09 1.123-6.545L.489 6.91l6.572-.955L10 0l2.939 5.955 6.572.955-4.756 4.635 1.123 6.545z"/></svg>
        </span>
    {% endfor %}
    <div class="block text-gray-500 font-mono text-center">({{ rating }}/5)</div>
</div>