<div class="element-block element-element">
    <div class="element-object">
        <a href="{{ entryUrl }}"><h2 class="element-title">{{ element }}</h2></a>
        <span class="posted-date"><time datetime="{{ datePosted.date }}">{{ datePosted.date |date() }}</time></span>
    </div>
</div>