{% if entry.flags %}
    <div class="flags-container">
        {% for flag in entry.flags %}
            <div class="pulse round warning flagged-indicator"></div>

            <div class="flagged-item flagged-{{ flag.rule.handle }}">
                <span class="block">{{ flag.rule.name }}</span>
            </div>
        {% endfor %}
    </div>
{% endif %}