{% import "qarr/_includes/macros/_buttons" as buttons %}

<div class="block-actions">
    <div class="btngroup">
        {{ buttons.basic({
            class: 'btn submit update-status-btn',
            type: type,
            status: 'approved',
            elementId: entry.id,
            disabled: false,
            text: 'Approve'|t('qarr'),
            spinner: true
        }) }}

        {{ buttons.basic({
            class: 'btn secondary update-status-btn',
            type: type,
            status: 'rejected',
            elementId: entry.id,
            disabled: false,
            text: 'Reject'|t('qarr'),
            spinner: true
        }) }}
    </div>

    {% if currentUser.can('qarr:deleteReviews') %}
        {{ buttons.basic({
            class: 'btn dashed delete-entry',
            type: type,
            status: 'rejected',
            elementId: entry.id,
            disabled: false,
            text: 'Delete'|t('qarr'),
            spinner: true
        }) }}
    {% endif %}

</div>