{% set hasPurchased = entry.hasPurchased() %}

<div id="settings">
    {% include 'qarr/_elements/element-entry-author' ignore missing with {entry: entry, type: type, status: entry.status, geolocation: entry.geolocation|json_decode, author: {
        fullName: entry.fullName,
        emailAddress: entry.emailAddress,
        avatarUrl: entry.avatarUrl,
        user: entry.author
    }} %}
    {% include 'qarr/_elements/element-element' ignore missing with {entry: entry, type: type, element: entry.element, elementType: entry.elementType, settings: entry.settings, configure: false, order: hasPurchased} %}

    {% if hasPurchased %}
        {% include 'qarr/_elements/element-has-purchased' ignore missing with {entry: entry, order: hasPurchased} %}
    {% endif %}

    {% include 'qarr/_elements/element-entry-audit' ignore missing with {entry: entry} %}
</div>

