<div class="primary-meta">
    <div class="status-badge status-{{ entry.status }}">
        <span>{{ entry.status }}</span>
    </div>

    <div class="created-date">
        <span>{{ 'Submitted on'|t('qarr') }} {{ entry.dateCreated |date() }}</span>
    </div>
</div>