<div class="meta muted submission-details bg-gray-100 text-gray-500 font-light text-xs mt-auto">
    <div>IP Address: <span>{{ entry.ipAddress }}</span></div>
    <div>Browser: <span>{{ entry.userAgent |browser }}</span></div>
</div>