<div class="meta-actions">
    <a href="#" class="btns btn-rounded btn-white" id="reply-email-btn" data-entry-id="{{ entry.id }}" data-type="{{ type }}">
        <span class="spinner hidden"></span>
        <span class="link-text"><i class="fal fa-paper-plane"></i> {{ 'Reply by email' |t('qarr') }}</span>
    </a>
</div>