<div class="element-block element-status">
    <div class="item-column element-status {{ entry.status }} {% if entry.status == 'pending' %}pulse{% endif %}">
        <div class="qarr-tag">
            <span>{{ entry.status }}</span>
        </div>
    </div>
</div>