<div class="element-block element-status">
    <div class="qarr-tag status-tag {{ entry.status }}">
        <span class="status-indicator"></span>
        <span class="status-text">{{ entry.status }}</span>
    </div>
</div>