{# Available Params: #}
{# averageRating #}

<div class="qarr-average-rating" data-qarr-average-rating>
    <div class="qarr-callouts-value">{{ averageRating }}<span class="qarr-pipe"> {{ 'out of'|t('qarr') }} </span>5<span class="qarr-pipe"> {{ 'stars'|t('qarr') }} </span></div>
</div>