{% extends "_layouts/cp" %}

{% do view.registerAssetBundle("owldesign\\qarr\\web\\assets\\UI") %}

{% set title = "Settings"|t('qarr') %}
{% set selectedSubnavItem = "settings" %}
{% set selectedSidebarItem = "settings" %}
{% set bodyClass = "qarr qarr-element-static" %}

{% block sidebar %}
    {% include 'qarr/settings/_includes/sidebar' ignore missing %}
{% endblock %}

{% set content %}

    <h2>{{ 'Geolocations'|t('qarr') }}</h2>

    <table class="data fullwidth fixed-layout">
        <tbody>
            <tr>
                <th class="light">{{ 'Update geolocation for all entries based on submitters IP address.'|t('qarr') }}</th>
                <td class="text-right"><a href="#" class="btn submit"
                       id="update-geolocations"
                       data-tippy-theme="light"
                       data-tippy-arrow="true"
                       data-tippy="Geolocation will be used to pinpoint customer's locations for better statistics and reporting.">{{ 'Update Geolocations'|t('qarr') }}</a></td>
            </tr>
        </tbody>
    </table>

{% endset %}
