{% extends 'qarr/_layouts/cp-static-craft' %}

{% do view.registerAssetBundle("owldesign\\qarr\\web\\assets\\Settings") %}

{% set title = "Settings"|t('qarr') %}
{% set selectedSubnavItem = "settings" %}
{% set selectedSidebarItem = "settings" %}

{% block sidebar %}
    {% include 'qarr/settings/_includes/sidebar' ignore missing %}
{% endblock %}

{% set content %}

    <div class="flex-container">
        <div class="quarter-col utility-widget utility-location">
            <div class="pane">
                <div class="utility-icon">
                    <i class="fas fa-globe-americas"></i>
                </div>

                <div class="utility-info">
                    <h2>{{ 'Geolocation'|t('qarr') }}</h2>
                    <p class="text-gray-600">{{ 'Update geolocation for all entries based on submitted IP address.'|t('qarr') }}</p>
                </div>

                <div class="utility-actions mt-2">
                    <a href="#" class="btn submit"
                       id="update-geolocations"
                       data-tippy-theme="light"
                       data-tippy-arrow="true"
                       data-tippy="Geolocation will be used to pinpoint customer's locations for better statistics and reporting.">Update Geolocations</a>
                </div>
            </div>
        </div>
    </div>

{% endset %}
