<nav id="sources">
    <ul>
        <li>
            <a href="{{ url('qarr/settings/rules') }}" class="sel has-badge">
                <i class="fal fa-flag icon"></i>
                <span class="label">{{ 'Rules'|t('qarr') }}</span>
            </a>
        </li>
    </ul>
</nav>