.qarr-correspondence-fe .qarr-field {
  max-width: 320px;
  margin: auto;
}
.qarr-correspondence-fe .button {
  position: relative;
  outline: none;
  text-transform: uppercase;
  text-align: center;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
  font-weight: bold !important;
  letter-spacing: 0.05em;
  color: white;
  background: #2fec94;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  width: 100%;
  cursor: pointer;
  transition: all 0.3s ease;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}
.qarr-correspondence-fe .button:hover {
  background: #13d57b;
}
.qarr-correspondence-fe input {
  border: 1px solid #E9EFF4;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  outline: none;
  width: 100%;
  box-sizing: border-box;
}