.qarr-global .btn:before {
  content: "";
  font-family: "Craft";
  speak: none;
  -ms-font-feature-settings: "liga", "dlig";
  -o-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig";
  text-rendering: optimizeLegibility;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  text-align: center;
  font-style: normal;
  vertical-align: middle;
  word-wrap: normal !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.qarr-global .icon-share:before {
  content: "share";
  margin-left: -2px;
  margin-right: 7px;
}

.qarr-btn {
  display: inline-flex;
  align-items: center;
  background-color: #9e9e9e;
  color: #fff;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 0.25rem;
  letter-spacing: 0.025em;
  cursor: pointer;
  outline: 0;
}

.qarr-btn:hover {
  background-color: #757575;
}

.qarr-btn.btn-green {
  background-color: #68d391;
}

.qarr-btn.btn-green:hover {
  background-color: #48bb78;
}

.qarr-btn.btn-red {
  background-color: #fc8181;
}

.qarr-btn.btn-red:hover {
  background-color: #f56565;
}

.qarr-btn.btn-purple {
  background-color: #9f7aea;
}

.qarr-btn.btn-purple:hover {
  background-color: #805ad5;
}

.qarr-btn.cursor-not-allowed {
  background-color: #bdbdbd;
  cursor: not-allowed;
}

.qarr-btn.cursor-not-allowed:hover {
  background-color: #bdbdbd;
}

.qarr-btn.btn-small {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 0.75rem;
}

.qarr-btn-link {
  color: #a3bffa;
  font-size: 0.75rem;
  letter-spacing: 0.025em;
}

.qarr-btn-link:hover {
  color: #667eea;
}

.qarr-btn-link.btn-active {
  color: #667eea;
}

.craftify #sources a {
  display: flex;
}

.craftify #sources a .badge-count {
  margin-left: auto;
}

.craftify .status.pending {
  background-color: #4da1ff;
  border-color: #4da1ff !important;
}

.craftify .status.approved {
  background-color: #a6e50f;
  border-color: #a6e50f !important;
}

.craftify .status.rejected {
  background-color: #f07575;
  border-color: #f07575 !important;
}

.craftify .elementindex td[data-attr=feedback] {
  vertical-align: top;
}

.craftify .elementindex td[data-attr=stars] {
  min-width: 100px;
}

.craftify .elementindex td[data-title=Title] {
  min-width: 200px;
}

.craftify .element-block {
  padding: 20px 0;
}

.craftify .element-block.element-info .user-info .qarr-avatar {
  width: 50px;
  height: 50px;
}

.craftify .element-block.element-info .user-info .qarr-avatar img {
  width: 100%;
}

.craftify .element-block.element-info .user-name {
  font-weight: bold;
  margin: 4px 0;
}

.craftify .element-block.element-info .user-location {
  margin: 4px 0;
  color: rgba(0, 0, 0, 0.5);
}

.craftify .element-block.element-info .user-email {
  font-family: Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
}

.craftify .element-block.element-element {
  text-align: center;
}

.craftify .element-block.element-element .element-image {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.craftify .element-block.element-element .element-image img {
  display: block;
  width: 50%;
  margin: auto;
}

.craftify .element-block.element-element .element-image span {
  font-size: 0.75rem;
  color: #e0e0e0;
}

.craftify .element-block.element-element .element-type {
  display: block;
  font-size: 9px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: 600;
}

.craftify .element-block.element-element .element-title {
  font-weight: 500;
  margin: 0;
  color: #757575;
  font-size: 0.875rem;
}

.craftify .element-block.element-element a {
  display: block;
  text-align: center;
  margin: 5px 0 0 0;
  padding: 0;
  transition: all 0.3s ease;
  color: #a3bffa;
  font-size: 0.75rem;
  letter-spacing: 0.025rem;
  text-decoration: none !important;
}

.craftify .element-block.element-element a:hover {
  color: #667eea;
}

.craftify.qarr-element-edit .created-date, .craftify.qarr-element-edit .no-content {
  margin-bottom: 10px;
  color: rgba(0, 0, 0, 0.5);
}

.craftify.qarr-element-edit #feedback .feedback {
  margin-bottom: 20px;
}

.craftify.qarr-element-edit #feedback .has-response .response {
  padding: 10px;
  margin-bottom: 10px;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 3px;
}

.craftify.qarr-element-edit #feedback .has-response .response .response-author {
  font-size: 12px;
}

.craftify.qarr-element-edit #feedback .has-response .response .response-text {
  display: block;
  padding: 10px 0;
}

.craftify.qarr-element-edit #feedback .has-response #reply-to-feedback {
  pointer-events: none;
  cursor: not-allowed;
}

.craftify.qarr-element-edit .element-info {
  text-align: center;
}

.craftify.qarr-element-edit .element-info .qarr-avatar {
  margin: auto;
}

.craftify.qarr-element-edit .block-actions {
  display: flex;
}

.craftify.qarr-element-edit .block-actions .delete-entry {
  margin-left: auto;
}

.craftify .qarr-tag {
  display: inline-block;
  text-transform: uppercase;
  border-width: 1px;
  border-style: solid;
  border-color: #b8c2cc;
  color: #606f7b;
  border-radius: 0.25rem;
  font-size: 0.75rem;
  letter-spacing: 1.5px;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.craftify .qarr-rating {
  margin: 5px 0;
}

.craftify .qarr-rating .qarr-rating-star {
  margin-right: 3px;
}

.craftify .qarr-rating .qarr-rating-star svg {
  width: 15px;
  height: 15px;
}

.craftify .qarr-rating .qarr-rating-star svg * {
  fill: rgba(0, 0, 0, 0.1);
}

.craftify .qarr-rating .qarr-rating-star.active svg * {
  fill: #ffd012;
}

.craftify .tagify__input {
  border: 1px solid rgba(0, 0, 20, 0.1);
  border-radius: 2px;
  transition: border linear 50ms;
  color: #b9bfc6;
  margin: inherit;
  padding: 5px 7px;
  color: #29323d;
}

.craftify .tagify__input:focus {
  border-color: #0D99F2;
  outline: none;
}

.craftify .tagify {
  margin-left: -5px;
  margin-top: 10px;
  border: none !important;
}

.craftify .tagify.tagify--outside {
  border-radius: 0.25rem;
}

.craftify .tagify tag > div:before {
  background: #EDF2F7 !important;
}

.craftify .tagify tag > div span {
  color: #718096;
  font-size: 0.875rem;
  letter-spacing: 0.025em;
}

.craftify .tagify tag:hover div:before {
  top: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  background: #da5a47 !important;
}

.craftify .tagify tag:hover div span {
  color: white;
}

.craftify .tagify tag x {
  border-radius: 3px;
  color: white;
}

.craftify .tagify tag x:hover {
  background: transparent !important;
}

.craftify .tagify tag x:hover + div {
  background: #8c3b2e !important;
}

.craftify .tagify tag x:hover + div span {
  opacity: 1 !important;
}

.craftify .tagify .tagify--notAllowed > div:before {
  background: #D0021B !important;
}

.craftify .tagify .tagify--notAllowed > div span {
  color: white;
}