@font-face {
  font-family: "OpenSans-Light";
  src: url("../fonts/OpenSans-Light.woff") format("woff"), url("../fonts/OpenSans-Light.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans-LightItalic";
  src: url("../fonts/OpenSans-LightItalic.woff") format("woff"), url("../fonts/OpenSans-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans-Regular";
  src: url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans-Italic";
  src: url("../fonts/OpenSans-Italic.woff") format("woff"), url("../fonts/OpenSans-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans-SemiBold";
  src: url("../fonts/OpenSans-SemiBold.woff") format("woff"), url("../fonts/OpenSans-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans-SemiBoldItalic";
  src: url("../fonts/OpenSans-SemiBoldItalic.woff") format("woff"), url("../fonts/OpenSans-SemiBoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans-Bold";
  src: url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans-BoldItalic";
  src: url("../fonts/OpenSans-BoldItalic.woff") format("woff"), url("../fonts/OpenSans-BoldItalic.ttf") format("truetype");
}

.qarr .widget.inwards .heading {
  padding: 0 24px;
}

.qarr .widget.inwards .pane {
  padding: 24px 0;
}

.qarr .widget.no-footer .pane {
  padding-bottom: 0;
}

.qarr .widget .spinner {
  position: absolute;
  right: 20px;
}

.qarr .widget .heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 24px;
}

.qarr .widget .heading h2 {
  margin: 0;
}

.qarr .widget .heading a {
  margin-left: auto;
  text-decoration: none;
  color: #a5a6a8;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.qarr .widget .heading a:hover {
  color: #727375;
}

.qarr .widget .list {
  width: 100%;
  margin-right: -5px;
}

.qarr .widget .link {
  margin-left: auto;
  font-size: 10px;
}

.qarr .star-rating .star {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  padding: 0 7px;
}

.qarr .star-rating svg {
  height: 25px;
  width: 25px;
}

.qarr-dashboard .widget .body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 768px) {
  .qarr-dashboard .widget .body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .qarr-dashboard .widget .body .chart-explorer-container {
    width: 100%;
  }
  .qarr-dashboard .widget .body .widget-pie {
    width: 100%;
    margin: 30px 0;
  }
}

.qarr-dashboard .widget .list .item-feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.qarr-dashboard .widget .list .item-feedback .customer-wrapper {
  margin-left: auto;
}

.qarr-dashboard .widget .list .item-feedback .feedback-text {
  width: 100%;
  margin-top: 5px;
  font-family: "OpenSans-Italic", "Helvetica", sans-serif;
  font-size: 12px;
}

.qarr-dashboard .svg-pie {
  height: 100px;
  padding: 10px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.qarr-dashboard .widget-pie {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.qarr-dashboard .widget-pie .pie-area {
  margin-top: 20px;
}

.qarr-dashboard .widget-pie .pie-area path {
  cursor: pointer;
}

.qarr-dashboard .widget-pie .pie-stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 25px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.qarr-dashboard .widget-pie .pie-stats .stat-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
}

.qarr-dashboard .widget-pie .pie-stats .stat-item.stat-pending .stat-icon {
  border-color: #4da1ff;
}

.qarr-dashboard .widget-pie .pie-stats .stat-item.stat-approved .stat-icon {
  border-color: #2fec94;
}

.qarr-dashboard .widget-pie .pie-stats .stat-item.stat-rejected .stat-icon {
  border-color: #f07575;
}

.qarr-dashboard .widget-pie .pie-stats .stat-item.has-hover.stat-pending .stat-icon {
  background: #4da1ff;
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

.qarr-dashboard .widget-pie .pie-stats .stat-item.has-hover.stat-approved .stat-icon {
  background: #2fec94;
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

.qarr-dashboard .widget-pie .pie-stats .stat-item.has-hover.stat-rejected .stat-icon {
  background: #f07575;
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

.qarr-dashboard .widget-pie .pie-stats .stat-icon {
  position: absolute;
  top: 0;
  width: 5px;
  height: 5px;
  margin: 5px 0;
  border-width: 2px;
  border-style: solid;
  border-radius: 50px;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.qarr-dashboard .widget-pie .pie-stats .stat-label {
  font-family: "OpenSans-Bold", "Helvetica", sans-serif;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

.qarr-dashboard .widget-pie .pie-stats .stat-value {
  font-family: "OpenSans-Bold", "Helvetica", sans-serif;
  font-size: 12px;
  color: #a5a6a8;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

.qarr-dashboard .chart-explorer-container {
  position: relative;
  height: 130px;
  width: 70%;
  padding-bottom: 80px;
  margin-bottom: 25px;
}

.qarr-dashboard .chart-explorer-container .chart-explorer {
  height: 100%;
  padding-bottom: 80px;
  border-radius: 5px;
}

.qarr-dashboard .chart-explorer-container .chart-container {
  padding: 0 20px;
}

.qarr-dashboard .chart-explorer-container .chart-container, .qarr-dashboard .chart-explorer-container .chart {
  height: 130px;
}

.qarr-dashboard .chart-explorer-container .chart-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 20px 30px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.qarr-dashboard .chart-explorer-container .timeline-wrapper {
  margin-left: auto;
}

.qarr-dashboard .chart-explorer-container .timeline-wrapper button {
  -webkit-appearance: none;
  border: 1px solid #E9EFF4;
  outline: none;
  padding: 10px 30px;
  cursor: pointer;
}

.qarr-dashboard .chart-explorer-container .timeline-wrapper button:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.qarr-dashboard .chart-explorer-container .timeline-wrapper button:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.qarr-dashboard .chart-explorer-container .timeline-wrapper button.active {
  background: #E9EFF4;
  font-weight: 800;
  color: #474747;
}

.qarr-dashboard .chart-explorer-container .loader {
  position: absolute;
  top: 65%;
  left: 50%;
  margin-top: -10px;
  margin-left: -10px;
}

.qarr-dashboard .chart-explorer-container .total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  color: #a5a6a8;
  text-transform: uppercase;
}

.qarr-dashboard .chart-explorer-container .total p {
  color: #a5a6a8 !important;
  letter-spacing: .1em;
}

.qarr-dashboard .chart-explorer-container .total .total-value-wrapper {
  margin-right: 5px;
  letter-spacing: .1em;
}

.qarr-dashboard .chart-explorer-container .tooltip {
  text-align: center;
  background: white;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.qarr-dashboard .chart-explorer-container .tooltip .x-value {
  font-size: 10px;
  font-weight: 600;
  color: #a5a6a8;
}

.qarr-dashboard .chart-explorer-container .tooltip .y-value {
  font-size: 18px;
  font-weight: 800;
  color: #4da1ff;
}

.qarr-dashboard .chart-explorer-container .grid-line .tick line {
  stroke: #e2eaf1 !important;
}

.qarr-dashboard .chart-explorer-container .tick text {
  stroke: none !important;
  fill: #a5a6a8 !important;
}

.qarr-dashboard .chart-explorer-container .axis path {
  stroke: #E9EFF4 !important;
}

.qarr-dashboard .chart-explorer-container .plots .plot {
  fill: #4da1ff !important;
}

.qarr-dashboard .chart-explorer-container .chart-line path {
  stroke: #4da1ff !important;
}

.qarr-dashboard .chart-explorer-container .chart-area path {
  fill: #4da1ff !important;
}

@media only screen and (max-width: 768px) {
  .qarr-dashboard .chart-explorer-container {
    height: 150px;
  }
  .qarr-dashboard .chart-explorer-container .chart-header {
    display: block;
  }
  .qarr-dashboard .chart-explorer-container .timeline-wrapper button {
    width: 50%;
  }
  .qarr-dashboard .chart-explorer-container .total {
    margin-bottom: 15px;
  }
}
