.qarr-elementindex #sidebar {
  box-shadow: none;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

.qarr-elementindex #sidebar nav {
  margin: 0;
  padding: 0;
}

.qarr-elementindex #sidebar li a {
  position: relative;
  display: flex;
  margin: 0;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: #757575;
  letter-spacing: 0.025em;
  border-bottom-width: 1px;
  border-style: solid;
  border-color: #f5f5f5;
  transition-duration: 0.525s;
}

.qarr-elementindex #sidebar li a:hover {
  background-color: #eeeeee;
}

.qarr-elementindex #sidebar li a.sel {
  background-color: #9f7aea;
  color: #fff;
}

.qarr-elementindex #sidebar li a.sel .badge-count {
  color: #fff;
}

.qarr-elementindex #sidebar li .badge-count {
  margin-left: auto;
  font-size: 0.75rem;
  color: #bdbdbd;
}

.qarr-elementindex #sidebar .heading {
  margin: 0;
  padding: 0;
}

.qarr-elementindex #sidebar .heading span {
  display: block;
  margin: 0;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #424242;
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: 0.05em;
}

.qarr-elementindex #sidebar .customize-sources:hover {
  color: #9f7aea;
}

.qarr-elementindex .toolbar {
  z-index: 2;
}

.qarr-elementindex .toolbar input.text {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-width: 1px;
  border-color: #eeeeee;
  border-radius: 0.25rem;
  padding-left: 1rem;
  padding-right: 1rem;
  color: #616161;
  line-height: 1.25;
  transition: all 0.2s ease;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}

.qarr-elementindex .toolbar input.text:focus {
  outline: 0;
  background-color: #fff;
  border-color: #9f7aea;
}

.qarr-elementindex .toolbar .menubtn {
  background-image: none;
  box-shadow: none;
  background-color: #f5f5f5;
  color: #757575;
}

.qarr-elementindex .toolbar .menubtn:after {
  transition: all 0.2s ease;
}

.qarr-elementindex .toolbar .menubtn.active:after {
  transform: scale(-1);
}

.qarr-elementindex .selectallcontainer .btn {
  background: none;
  box-shadow: none;
  background-color: #f5f5f5;
}

.qarr-elementindex .selectallcontainer .checkbox:before {
  font-family: "Craft";
  speak: none;
  -ms-font-feature-settings: "liga", "dlig";
  -o-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig";
  text-rendering: optimizeLegibility;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  text-align: center;
  font-style: normal;
  vertical-align: middle;
  word-wrap: normal !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: 12px;
  content: "check";
  box-shadow: none;
  font-size: 15px;
  background: none;
  color: #e0e0e0;
}

.qarr-elementindex .selectallcontainer .checkbox.checked:before {
  color: #9f7aea;
}

.qarr-elementindex .tableview thead {
  display: none;
}

.qarr-elementindex .tableview tbody tr td:nth-child(2) {
  display: none !important;
}

.qarr-elementindex .tableview tbody tr td {
  padding: 0 !important;
  border-bottom: 3px dotted #EDF2F7;
}

.qarr-elementindex .tableview tbody tr.sel td {
  background: transparent !important;
}

.qarr-elementindex .tableview tbody tr.sel .checkbox {
  background-color: #9f7aea;
}

.qarr-elementindex .tableview tbody tr.sel .checkbox:before {
  color: #9f7aea;
}

.qarr-elementindex .tableview tbody .checkbox {
  top: 0;
  bottom: 0;
  height: 100%;
  top: 0 !important;
  padding-left: 3px !important;
  z-index: 1;
}

.qarr-elementindex .tableview tbody .checkbox:before {
  font-family: "Craft";
  speak: none;
  -ms-font-feature-settings: "liga", "dlig";
  -o-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig";
  text-rendering: optimizeLegibility;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  text-align: center;
  font-style: normal;
  vertical-align: middle;
  word-wrap: normal !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: 12px;
  content: "check";
  left: 10px;
  top: 10px;
  box-shadow: none;
  font-size: 15px;
  background: none;
  color: #e0e0e0;
  transition: all 0.3s ease;
}

.qarr-elementindex .noelements {
  color: #757575;
}

.qarr-elementindex [data-attr=feedback] {
  vertical-align: top;
}

.qarr-elementindex [data-attr=element] {
  width: 200px;
  text-align: center;
}

.qarr-elementindex [data-attr=information] {
  width: 240px;
}

.qarr-elementindex [data-attr=information] > div:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 5px;
  height: 100%;
  transition: all 0.3s ease;
}

.qarr-elementindex .element-details .flagged-indicator {
  position: absolute;
  top: 10px;
  left: -20px;
}

.qarr-elementindex .element-details .element-object a {
  color: #667eea;
  transition: all 0.3s ease;
}

.qarr-elementindex .element-details .element-object a:hover {
  color: #4c51bf;
}

.qarr-elementindex .element-details .element-title {
  margin: 0;
  font-size: 0.875rem;
}

.qarr-elementindex .element-details .posted-date {
  color: #bdbdbd;
  font-size: 0.75rem;
}

.qarr-elementindex .element-details .feedback-instructions {
  font-style: italic;
  font-size: 12px;
  color: #eeeeee;
}