.qarr-static-elements #content {
  background: transparent !important;
}

.qarr-static-elements .element-item {
  display: flex;
  align-items: center;
  background-color: #fff;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 0.25rem;
}

.qarr-static-elements .element-item h2 {
  margin: 0;
}

.qarr-static-elements .element-item .element-header a {
  color: #667eea;
}

.qarr-static-elements .element-item .element-header a:hover {
  color: #4c51bf;
}

.qarr-static-elements .element-item .element-handle {
  margin: 0;
  color: #bdbdbd;
}

.qarr-static-elements .element-item .element-status {
  margin-left: auto;
}

.qarr-static-elements .element-container {
  background-color: #fff;
  border-width: 1px;
  padding: 1.5rem;
  border-radius: 0.25rem;
  padding-bottom: 1.5rem !important;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}