@font-face {
  font-family: "OpenSans-Light";
  src: url("../fonts/OpenSans-Light.woff") format("woff"), url("../fonts/OpenSans-Light.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans-LightItalic";
  src: url("../fonts/OpenSans-LightItalic.woff") format("woff"), url("../fonts/OpenSans-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans-Regular";
  src: url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans-Italic";
  src: url("../fonts/OpenSans-Italic.woff") format("woff"), url("../fonts/OpenSans-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans-SemiBold";
  src: url("../fonts/OpenSans-SemiBold.woff") format("woff"), url("../fonts/OpenSans-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans-SemiBoldItalic";
  src: url("../fonts/OpenSans-SemiBoldItalic.woff") format("woff"), url("../fonts/OpenSans-SemiBoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans-Bold";
  src: url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans-BoldItalic";
  src: url("../fonts/OpenSans-BoldItalic.woff") format("woff"), url("../fonts/OpenSans-BoldItalic.ttf") format("truetype");
}

.qarr {
  background: white;
}

.qarr #nav-qarr {
  background: #B289EF;
  margin: 0 -24px 0 -24px;
}

.qarr #nav-qarr .icon {
  opacity: 1 !important;
}

.qarr #nav-qarr .qarr-pending-count-badge {
  background: #772fe3;
}

.qarr #nav-qarr a {
  margin: 0;
  color: white;
}

.qarr #nav-qarr a:hover {
  background: #f8f9fd !important;
}

.qarr #nav-qarr a.sel {
  background: #955ce9 !important;
}

.qarr #nav-qarr .subnav {
  background: #f8f9fd;
}

.qarr #nav-qarr .subnav li {
  background: #E9EFF4;
}

.qarr #nav-qarr .subnav a {
  font-family: "OpenSans-SemiBold", "Helvetica", sans-serif;
  margin: 0;
  padding: 8px 55px !important;
  color: #7a7a7a !important;
}

.qarr #nav-qarr .subnav a:hover {
  background: #f8f9fd !important;
}

.qarr #nav-qarr .subnav a.sel {
  color: #545454 !important;
  background: #f8f9fd !important;
}

.qarr .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

.qarr .flex-container > div {
  margin-bottom: 25px;
}

.qarr .flex-container .full-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

.qarr .flex-container .full-col .widget {
  width: 100%;
}

.qarr .flex-container .full-col .widget .body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.qarr .flex-container .wide-col {
  width: 68%;
}

.qarr .flex-container .half-col {
  width: 49%;
}

.qarr .flex-container .short-col {
  width: 30%;
}

@media only screen and (max-width: 768px) {
  .qarr .flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .qarr .flex-container > div {
    width: 100% !important;
  }
}

.qarr .pad {
  padding: 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.qarr .pad.body {
  padding-top: 0;
}

.qarr .widget {
  background: white;
  border-radius: 5px;
  border: 1px solid #E9EFF4;
  margin-bottom: 25px;
}

.qarr .widget.transparent {
  background: transparent;
  border: none;
}

.qarr .widget.compact {
  margin-right: 50px;
}

.qarr .widget.compact header {
  height: auto;
  border: none;
  margin-bottom: 10px;
}

.qarr .widget.compact header h2 {
  color: #a5a6a8;
}

.qarr .widget.compact span {
  font-weight: 700;
  font-size: 20px;
}

.qarr .widget header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #E9EFF4;
  height: 60px;
}

.qarr .widget header h2 {
  padding: 0;
  margin: 0;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
}

.qarr .widget header .link {
  margin-left: auto;
  font-size: 10px;
  color: #a5a6a8;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.qarr .widget header .link:hover {
  color: #727375;
}

.qarr .list .list-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px 25px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  border-bottom: 1px solid #E9EFF4;
}

.qarr .list .list-item.last {
  padding-bottom: 10px;
}

.qarr .list .list-item.has-hover:hover {
  -webkit-box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  z-index: 1;
}

.qarr .list .list-item.element-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

.qarr .list .list-item.element-actions button, .qarr .list .list-item.element-actions a {
  -ms-flex-item-align: center;
      align-self: center;
  width: 100%;
  display: inline-block;
  border-radius: 0;
}

.qarr .list .list-item.element-actions span {
  text-align: center;
}

.qarr .list .list-item.element-actions .asset-count {
  padding-left: 7px;
}

.qarr .list .item-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.qarr .list .item-asset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border: 1px solid #E9EFF4;
  border-radius: 5px;
  margin-bottom: 20px;
  width: 48%;
  -webkit-transition: border .3s ease;
  transition: border .3s ease;
}

.qarr .list .item-asset.selected {
  border-color: #4da1ff;
}

.qarr .list .item-asset .asset-thumbnail {
  border-right: 1px solid #E9EFF4;
  max-width: 80px;
}

.qarr .list .item-asset .asset-thumbnail img {
  width: 100%;
}

.qarr .list .item-asset .asset-description {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.qarr .list .item-asset .asset-description .download-asset {
  position: absolute;
  top: 10px;
  right: 10px;
}

.qarr .list .item-asset .asset-description .asset-select {
  position: absolute;
  bottom: 10px;
  right: 10px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  color: #a5a6a8;
  cursor: pointer;
}

.qarr .list .item-asset .asset-description .asset-select:hover {
  color: #727375;
}

.qarr .list .item-asset .asset-description .asset-select.active {
  color: #4da1ff;
}

.qarr .list .item-asset .asset-description .asset-title {
  padding-right: 20px;
}

.qarr .list .item-asset .pad {
  padding: 10px;
}

.qarr .list .item-title, .qarr .list .item-title a {
  font-size: 12px;
  font-weight: 100;
  color: #a5a6a8;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.qarr .list .item-title:hover, .qarr .list .item-title a:hover {
  color: #727375;
}

.qarr .list .item-meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 3px;
}

.qarr .list .item-meta .item-meta-icon {
  margin-right: 5px;
  font-weight: 600;
}

.qarr .list .item-meta span {
  font-size: 10px;
}

.qarr .list .item-meta .item-meta-title {
  color: #333333;
  font-weight: 600;
}

.qarr .list .item-meta .item-meta-right, .qarr .list .item-meta .item-meta-right a {
  margin-left: auto;
  color: #a5a6a8;
}

.qarr #main-container #crumbs.empty + #main #header {
  padding-bottom: 0 !important;
}

.qarr #main-container #main #main-content #content-container #content {
  padding: 20px 40px 0 0;
}

.qarr.qarr-noelements #main-container #main #main-content #content-container #content {
  padding: 40px;
}

.qarr.qarr-nosettings #main-container #main #main-content #content-container #content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
}

.qarr.qarr-nosettings #content-fields {
  width: 100%;
  min-width: 650px;
  padding: 0 40px 40px 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.qarr #main-content {
  background: #f8f9fd !important;
}

.qarr #main-content #sidebar {
  background: transparent !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  padding: 0 !important;
  margin: 22px 40px;
}

.qarr #main-content #sidebar nav {
  margin: 0;
  padding: 0;
}

.qarr #main-content #sidebar nav li a {
  padding: 0;
  margin: 0;
  font-family: "OpenSans-Regular", "Helvetica", sans-serif;
}

.qarr #main-content #sidebar nav li a:hover {
  background: none;
}

.qarr #main-content #sidebar nav li a.sel {
  background: none;
  color: #966df3;
}

.qarr #main-content #sidebar .customize-sources {
  margin-top: 30px;
}

.qarr #main-content #sidebar #sources {
  padding: 20px;
  background: white;
  border-radius: 4px;
  border: 1px solid #E9EFF4;
}

.qarr #main-content #sidebar #sources li {
  margin-bottom: 6px;
}

.qarr #main-content #sidebar #sources a {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

.qarr #main-content #sidebar #sources .sel .source-text {
  font-weight: 600;
}

.qarr #main-content #sidebar #sources .group-item .source-text {
  padding-left: 8px;
}

.qarr #main-content #sidebar #sources .group-item .source-count {
  margin-left: auto;
  color: #a5a6a8 !important;
}

.qarr #main-content #sidebar #sources .heading {
  letter-spacing: 0.05em;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

.qarr #main-content #sidebar #sources .product-badge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: unset;
  border-radius: 4px;
  width: 28px;
  height: 28px;
  font-weight: 600;
  background: #B289EF;
}

.qarr #main-content #content {
  background: transparent !important;
  border: none !important;
}

.qarr .elements-data {
  margin-top: 80px;
}

.qarr .elements-data .ed-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "OpenSans-Regular", "Helvetica", sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: #595D66;
  padding: 10px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

.qarr .elements-data .ed-item span:first-child {
  padding-right: 6px;
}

.qarr-edit #main-container #main #main-content #content-container #content {
  padding: 0 40px 0 40px;
}

.qarr-edit #main-container #main #main-content #details {
  padding-top: 70px;
}

.qarr-edit .panel .panel-wrapper {
  position: relative;
  background: white;
  border-radius: 5px;
  padding: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #E9EFF4;
}

.qarr-edit .panel .panel-wrapper .status-badge {
  position: absolute;
  top: 20px;
  right: 20px;
}

.qarr-edit .panel.panel-correspondence, .qarr-edit .panel.panel-fields {
  margin-top: 50px;
}

.qarr-edit .panel.panel-blue .panel-header {
  background: #4da1ff;
}

.qarr-edit .panel .panel-header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: -30px -30px 0 -30px;
  padding: 25px;
  color: white;
  background: #c7c6c6;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.qarr-edit .panel .panel-header h2 {
  font-family: "OpenSans-Bold", "Helvetica", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: .03em;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

.qarr-edit .panel .panel-header .header-icon {
  position: absolute;
  right: 25px;
  margin-top: -3px;
  font-size: 30px;
}

.qarr-edit .panel .panel-body {
  padding-top: 25px;
}

.qarr-edit .panel .panel-body p {
  margin: 0;
}

.qarr-edit .panel .panel-body hr {
  margin: 20px -30px;
}

.qarr-edit .panel .panel-item {
  margin-bottom: 15px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

.qarr-edit .panel .panel-item:last-child {
  margin-bottom: 0;
}

.qarr-edit .panel .panel-item .panel-meta {
  font-size: 10px;
  font-weight: 600;
  color: #a5a6a8;
}

.qarr-edit .panel .large-text {
  margin: 0;
}

.qarr-edit .panel .large-text span {
  line-height: 1.4;
}

.qarr-edit .panel.has-response .panel-response {
  margin-top: 50px;
  padding: 35px 25px 20px 25px;
  border: 1px dashed #d8e3ec;
  border-radius: 5px;
  background: #d8e3ec1f;
}

.qarr-edit .panel .panel-actions {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 25px;
}

.qarr-edit .panel .pull-right {
  margin-left: auto;
}

.qarr-edit .panel .remove-entry {
  padding-left: 10px;
  margin-left: 10px;
  border-left: 1px solid #E9EFF4;
}

.qarr-edit .panel .remove-entry .icon {
  position: static;
  widows: 100%;
}

.qarr-edit .panel .remove-entry a {
  height: 40px;
  padding: 10px 3px;
}

.qarr-edit .panel .panel-response {
  position: relative;
}

.qarr-edit .panel .panel-response .spinner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.qarr-edit .panel .panel-response .response-container.faded {
  opacity: .1;
}

.qarr-edit .panel .panel-response .response-author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 5px;
  left: 10px;
  width: 100%;
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
  color: #a5a6a8;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

.qarr-edit .panel .panel-response .response-author span {
  color: #8b8c8f;
}

.qarr-edit .panel .panel-response .response-author .last {
  margin-left: auto;
  margin-right: 20px;
}

.qarr-edit .panel .panel-response .response-text {
  font-weight: 400;
  color: #727375;
}

.qarr-edit .panel .panel-response .response-actions {
  position: relative;
  margin-top: 15px;
}

.qarr-edit .panel .panel-response .response-actions svg {
  margin-right: 3px;
}

.qarr-edit .panel .panel-response .response-actions a:hover {
  color: #4da1ff;
}

.qarr-edit .panel .panel-response .response-actions #reply-to-feedback-btn {
  display: inline;
}

.qarr-edit .panel .panel-progress {
  position: absolute;
  width: 300px;
  top: -22px;
  right: 0;
}

.qarr-edit .panel .panel-progress .progressbar {
  top: 4px;
  left: auto;
  right: 0;
  width: 253px;
}

.qarr-edit .panel .panel-progress .progressbar-status {
  font-family: "OpenSans-Regular", "Helvetica", sans-serif;
  font-weight: 600;
  letter-spacing: .05em;
}

.qarr-edit .panel.panel-answers {
  margin-top: 30px;
}

.qarr-edit .panel.panel-answers .large-text {
  padding: 5px 0;
}

.qarr-edit .panel.panel-answers .panel-item {
  padding-bottom: 15px;
  border-bottom: 1px solid #E9EFF4;
}

.qarr-edit .panel.panel-answers .panel-item:last-child {
  border: none;
  padding: 0;
}

.qarr-edit .panel.panel-answers .panel-item-status {
  font-family: "OpenSans-Bold", "Helvetica", sans-serif;
  font-size: 10px;
  letter-spacing: .05em;
  text-transform: uppercase;
  min-height: 20px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

.qarr-edit .panel.panel-answers .panel-item-status.status-pending {
  color: #4da1ff;
}

.qarr-edit .panel.panel-answers .panel-item-status.status-approved {
  color: #2fec94;
}

.qarr-edit .panel.panel-answers .panel-item-status.status-rejected {
  color: #f07575;
}

.qarr-edit .panel.panel-answers .panel-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5px;
}

.qarr-edit .panel.panel-answers .panel-actions .qarr-pipe {
  color: #949393;
  font-size: 10px;
}

.qarr-edit .panel.panel-answers .panel-actions a {
  display: block;
  font-family: "OpenSans-SemiBold", "Helvetica", sans-serif;
  font-size: 10px;
  color: #474747;
  padding: 0 4px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.qarr-edit .panel.panel-answers .panel-actions a:first-child {
  padding-left: 0;
}

.qarr-edit .panel.panel-answers .panel-actions a:hover {
  color: #949393;
}

.qarr-edit .panel.panel-answers .panel-actions a.btn-approve:hover {
  color: #2fec94;
}

.qarr-edit .panel.panel-answers .panel-actions a.btn-reject:hover, .qarr-edit .panel.panel-answers .panel-actions a.btn-delete:hover {
  color: #f07575;
}

.qarr-edit .panel.panel-answers .panel-actions a.btn-delete {
  margin-left: auto;
}

.qarr-edit .field-wrapper {
  margin-bottom: 20px;
}

.qarr-edit .field-wrapper h2 {
  font-family: "OpenSans-Regular", "Helvetica", sans-serif;
  letter-spacing: .02em;
  margin-bottom: 5px;
  color: #a5a6a8;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

.qarr-edit .primary-meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0 30px 0;
}

.qarr-edit .status-badge {
  display: inline-block;
  border-radius: 20px;
  padding: 5px 15px;
  margin-right: 15px;
  text-align: center;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: .07em;
  color: white;
}

.qarr-edit .status-badge.status-pending {
  background: #4da1ff;
}

.qarr-edit .status-badge.status-approved {
  background: #2fec94;
}

.qarr-edit .status-badge.status-rejected {
  background: #f07575;
}

.qarr-edit .created-date {
  font-size: 10px;
  font-weight: 600;
  color: #474747;
}

.qarr-edit #settings .meta {
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 25px;
  margin-right: 30px;
  margin-bottom: 30px;
  border-radius: 5px;
  background: #E9EFF4;
}

.qarr-edit #settings .meta h2 {
  font-size: 14px;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

.qarr-edit #settings .meta.centered {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.qarr-edit #settings .meta.centered .meta-item {
  text-align: center;
}

.qarr-edit #settings .meta.muted {
  -ms-flex-item-align: start;
      align-self: flex-start;
  background: rgba(233, 239, 244, 0.3);
}

.qarr-edit #settings .meta.purple-bg {
  background: #B289EF;
}

.qarr-edit #settings .meta.purple-bg .meta-label {
  color: #cfb6f5;
}

.qarr-edit #settings .meta.purple-bg h2 {
  color: white;
}

.qarr-edit #settings .meta .meta-item {
  margin-bottom: 20px;
}

.qarr-edit #settings .meta .meta-item:last-child, .qarr-edit #settings .meta .meta-item.single {
  margin-bottom: 0;
}

.qarr-edit #settings .icon-right {
  position: relative;
}

.qarr-edit #settings .icon-right .meta-item {
  padding-right: 50px;
}

.qarr-edit #settings .icon-right .icon {
  position: absolute;
  top: 50%;
  right: 15px;
  color: white;
  font-size: 40px;
  margin-top: -20px;
}

.qarr-edit #settings .review-status {
  font-family: "OpenSans-Regular", "Helvetica", sans-serif;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: .08em;
  color: white;
  text-align: center;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

.qarr-edit #settings .review-status.status-pending {
  background: #4da1ff;
}

.qarr-edit #settings .meta-actions .mail-result {
  font-family: "OpenSans-Regular", "Helvetica", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #a5a6a8;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

.qarr-edit #settings .btn-link {
  display: inline-block;
  font-size: 12px;
  margin-top: 5px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.qarr-edit #settings .btn-link.btn-in-purple {
  color: #deccf8;
}

.qarr-edit #settings .btn-link.btn-in-purple:hover {
  color: #966df3;
}

.qarr-edit #settings .guest-badge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  line-height: 1;
  padding: 20px;
  margin-bottom: 20px;
  background: #4da1ff;
  font-size: 14px;
  font-weight: 400;
  width: 30px;
  height: 30px;
  color: white;
}

.qarr-edit #settings .meta-label {
  font-family: "OpenSans-Regular", "Helvetica", sans-serif;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: .1em;
  text-transform: uppercase;
  color: #a5a6a8;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

.qarr-edit #settings .badge-verified {
  color: #4da1ff;
  margin-top: 5px;
}

.qarr-edit #settings .badge-verified span {
  font-family: "OpenSans-Regular", "Helvetica", sans-serif;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: .05em;
}

.qarr-edit #settings .submission-details {
  font-family: "OpenSans-Regular", "Helvetica", sans-serif;
  font-weight: 600;
  font-size: 10px;
  color: #a5a6a8;
  text-transform: uppercase;
  letter-spacing: .03em;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

.qarr-edit #settings .submission-details span {
  letter-spacing: normal;
  text-transform: none;
  color: #7e8082;
}

.qarr-edit #settings .star-rating-meta h2 {
  text-align: center;
  margin-bottom: 12px;
}

.qarr-edit #settings .abuse-reported-meta {
  background: #f07575;
  color: white;
  text-transform: uppercase;
  text-align: center;
}

.qarr-edit #settings .abuse-reported-meta h2 {
  font-family: "OpenSans-Regular", "Helvetica", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
}

.qarr-edit #settings .abuse-reported-meta svg {
  font-size: 40px;
  margin-bottom: 10px;
}

.qarr-edit #settings .abuse-reported-meta .meta-actions {
  margin-top: 10px;
}

.qarr-edit #settings .star-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.qarr-edit #settings .star-rating .star {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  padding: 0 10px;
}

.qarr-edit #settings .star-rating .star svg {
  fill: rgba(0, 0, 0, 0.1);
}

.qarr-edit #settings .star-rating .star.active svg {
  fill: #FFD012;
}

.qarr #header {
  margin: 0 !important;
  padding: 0 !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  background: white !important;
}

.qarr #header .btns {
  position: absolute;
  bottom: 15px;
  right: 40px;
  z-index: 5;
}

#qarr-header {
  width: 100%;
}

#qarr-header #page-header {
  position: relative;
}

#qarr-header #page-header .page-header {
  position: relative;
  z-index: 2;
  padding: 20px 40px 20px 40px;
}

#qarr-header .qarr-logo {
  padding: 10px 20px;
  margin-right: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#qarr-header .qarr-logo svg {
  width: 45px;
}

#qarr-header .qarr-logo .qarr-logo-text {
  font-family: "OpenSans-Regular", "Helvetica", sans-serif;
}

#qarr-header #navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #E9EFF4;
}

#qarr-header .primary-nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#qarr-header .primary-nav a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 20px;
  height: 100%;
  font-family: "OpenSans-SemiBold", "Helvetica", sans-serif;
  color: #595D66;
  letter-spacing: .02em;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

#qarr-header .primary-nav a svg {
  font-size: 12px;
  margin-right: 5px;
}

#qarr-header .primary-nav a.active-link:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: #B289EF;
}

#qarr-header .primary-nav a.active-link .link {
  color: #B289EF;
}

#qarr-header .primary-nav a:hover {
  color: #966df3;
}

#qarr-header .primary-nav .pull-right {
  margin-left: auto;
}

#qarr-header .primary-nav .badge {
  position: relative;
  background: #f8f9fd;
  padding: 2px 9px;
  border-radius: 4px;
  margin-left: 5px;
}

#qarr-header .primary-nav .badge .badge-count {
  font-family: "OpenSans-Bold", "Helvetica", sans-serif;
  font-size: 10px;
  color: #a5a6a8;
}

#qarr-header .utility-nav {
  margin-left: auto;
  min-width: 200px;
  border-left: 1px solid #E9EFF4;
}

.qarr hr {
  border-color: #E9EFF4;
  margin: 0;
}

.qarr-waves {
  height: 50px;
}

.qarr-waves .wave {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
}

.qarr-waves .wave + .wave {
  z-index: 2;
}

.loader-container {
  position: absolute;
  z-index: 5;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  border-radius: 5px;
}

.entry-status, .entry-badge, .product-badge, .status {
  color: white;
  width: 5px;
  height: 5px;
  margin: auto;
  border-width: 2px;
  border-style: solid;
  border-radius: 50px;
  background: transparent !important;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.entry-status.pending, .entry-badge.pending, .product-badge.pending, .status.pending {
  border-color: #4da1ff !important;
}

.entry-status.approved, .entry-badge.approved, .product-badge.approved, .status.approved {
  border-color: #2fec94 !important;
}

.entry-status.rejected, .entry-badge.rejected, .product-badge.rejected, .status.rejected {
  border-color: #f07575 !important;
}

.entry-status.purple, .entry-badge.purple, .product-badge.purple, .status.purple {
  border-color: #B289EF !important;
}

.entry-badge.pending, .product-badge.pending {
  background: #4da1ff !important;
}

.entry-badge.purple, .product-badge.purple {
  background: #B289EF !important;
}

.purple-blanket {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #B289EF;
  opacity: .8;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.qarr .text.focus, .qarr .text:focus, .qarr .border-box.focus, .qarr .border-box:focus, .qarr .selectize-text > .selectize-control > .selectize-input.focus, .qarr .selectize-text > .selectize-control > .selectize-input:focus {
  border-color: #E9EFF4;
}

.qarr .lightswitch .label.off, .qarr .lightswitch:not(.dragging):not(.on) .label.on {
  background: #E9EFF4;
}

.qarr .lightswitch .label.on, .qarr .lightswitch:not(.dragging).on .label.off {
  background: #B289EF;
}

.qarr .texticon.icon:before {
  top: 14px;
}

.qarr .qarr-field {
  margin-bottom: 10px;
}

.qarr .qarr-field .heading {
  margin-bottom: 5px;
}

#title-format-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

#title-format-items .format-item {
  padding: 5px 10px;
  margin-right: 5px;
}

#title-format-items .format-item.format-example {
  font-size: 10px;
  letter-spacing: .03em;
  color: #a5a6a8;
}

.qarr-field-readonly label {
  font-family: "OpenSans-SemiBold", "Helvetica", sans-serif;
  font-size: 12px;
  line-height: 1;
  letter-spacing: .05em;
  color: #4A4A4A;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

.qarr-field-readonly .field-value {
  font-family: "OpenSans-Bold", "Helvetica", sans-serif;
}

.qarr-field.custom-field {
  background: #fff;
  position: relative;
  border-radius: 6px;
  border: 1px solid #E9EFF4;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  min-height: 52px;
}

.qarr-field.custom-field:before {
  content: '';
  position: absolute;
  bottom: -1px;
  right: -1px;
  border-style: solid;
  border-width: 0 0 0 0;
  z-index: 4;
  border-color: #fff #f8f9fd;
  -webkit-transition: all .3s ease .35s;
  transition: all .3s ease .35s;
}

.qarr-field.custom-field.has-value input + label {
  -webkit-transform: translate(0, -4px) scale(0.72);
          transform: translate(0, -4px) scale(0.72);
}

.qarr-field.custom-field.has-value input + label + .qarr-input-icon {
  opacity: 1;
}

.qarr-field.custom-field.has-value textarea + label {
  -webkit-transform: translate(0, -10px) scale(0.72);
          transform: translate(0, -10px) scale(0.72);
}

.qarr-field.custom-field.has-value textarea + label + .qarr-input-icon {
  opacity: 1;
}

.qarr-field.custom-field.has-value .select2-container + label {
  -webkit-transform: translate(0, -5px) scale(0.72);
          transform: translate(0, -5px) scale(0.72);
}

.qarr-field.custom-field.has-value .select2-container + label + .qarr-input-icon {
  opacity: 1;
}

.qarr-field.custom-field.has-focus {
  border: 1px solid #B289EF;
}

.qarr-field.custom-field.has-error {
  -webkit-animation: shake 0.6s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
          animation: shake 0.6s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  border-color: #f07575;
}

.qarr-field.custom-field.has-error label {
  color: #f07575;
}

.qarr-field.custom-field.has-error:before {
  border-width: 38px 32px 0 0;
  border-color: #f07575 #f8f9fd;
  border-radius: 6px 0 0 0;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.qarr-field.custom-field.has-error .qarr-error-icon {
  color: #f07575;
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: opacity 0.3s ease 0.45s, -webkit-transform 0.4s cubic-bezier(0.87, -0.41, 0.19, 1.44) 0.35s;
  transition: opacity 0.3s ease 0.45s, -webkit-transform 0.4s cubic-bezier(0.87, -0.41, 0.19, 1.44) 0.35s;
  transition: transform 0.4s cubic-bezier(0.87, -0.41, 0.19, 1.44) 0.35s, opacity 0.3s ease 0.45s;
  transition: transform 0.4s cubic-bezier(0.87, -0.41, 0.19, 1.44) 0.35s, opacity 0.3s ease 0.45s, -webkit-transform 0.4s cubic-bezier(0.87, -0.41, 0.19, 1.44) 0.35s;
}

.qarr-field.custom-field input {
  width: 100%;
  border: 0;
  outline: none;
  line-height: 20px;
  font-family: "OpenSans-Regular", "Helvetica", sans-serif;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: .05em;
  padding: 27px 40px 0 16px;
  background: none;
  color: #966df3;
}

.qarr-field.custom-field input:focus + label {
  -webkit-transform: translate(0, -4px) scale(0.72);
          transform: translate(0, -4px) scale(0.72);
}

.qarr-field.custom-field input:focus + label + .qarr-input-icon {
  opacity: 1;
}

.qarr-field.custom-field textarea {
  width: 100%;
  border: 0;
  outline: none;
  line-height: 20px;
  font-family: "OpenSans-Regular", "Helvetica", sans-serif;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: .05em;
  padding: 27px 40px 0 16px;
  background: none;
  color: #966df3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.qarr-field.custom-field textarea + label {
  top: 30px;
}

.qarr-field.custom-field textarea:focus + label {
  -webkit-transform: translate(0, -10px) scale(0.72);
          transform: translate(0, -10px) scale(0.72);
}

.qarr-field.custom-field textarea:focus + label + .qarr-input-icon {
  opacity: 1;
}

.qarr-field.custom-field label {
  position: absolute;
  z-index: 1;
  left: 16px;
  top: 50%;
  line-height: 24px;
  font-family: "OpenSans-Regular", "Helvetica", sans-serif;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: .05em;
  color: #a5a6a8;
  margin: -12px 0 0 0;
  cursor: text;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

.qarr-field.custom-field .qarr-input-icon {
  position: absolute;
  z-index: 2;
  stroke: none;
  fill: #3F4656;
  display: block;
  font-size: 14px;
  right: 16px;
  top: 50%;
  opacity: .2;
  cursor: pointer;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  -webkit-transition: opacity .4s ease;
  transition: opacity .4s ease;
}

.qarr-field.custom-field .qarr-error-icon {
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
  font-size: 14px;
  opacity: 0;
  stroke: none;
  z-index: 5;
  fill: #EB3E60;
  -webkit-transform: scale(0.4);
          transform: scale(0.4);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.qarr-field.field-white-bg {
  border-color: #E9EFF4;
}

.qarr-field.field-white-bg.has-error:before {
  border-width: 38px 32px 0 0;
  border-color: #f07575 white;
  border-radius: 6px 0 0 0;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.qarr-field.custom-select .select2-container--default .select2-selection--single {
  border: none;
  outline: none;
  border-radius: 10px;
}

.qarr-field.custom-select .select2-container .select2-selection--single {
  min-height: 54px;
}

.qarr-field.custom-select .select2-container .select2-selection--single .select2-selection__rendered {
  line-height: 20px;
  padding: 27px 40px 0 16px;
  color: #966df3;
  font-family: "OpenSans-Regular", "Helvetica", sans-serif;
  font-size: 12px;
  letter-spacing: .05em;
}

.qarr-field.custom-select .select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 100%;
  width: 54px;
}

.qarr .select2-dropdown {
  border: 1px solid #B289EF;
  border-radius: 5px;
  top: 7px;
}

.qarr .select2-container {
  height: 100%;
}

.qarr .select2-container .select2-results__option {
  padding: 15px 0 15px 15px;
}

.qarr .select2-container .select2-results__option--highlighted[aria-selected] {
  background-color: #B289EF;
}

.qarr .select2-container .select2-results__option[aria-selected=true] {
  background-color: rgba(178, 137, 239, 0.5);
  color: white;
}

@-webkit-keyframes shake {
  10%, 90% {
    -webkit-transform: translate3d(-1px, 0, 0);
            transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    -webkit-transform: translate3d(2px, 0, 0);
            transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    -webkit-transform: translate3d(-4px, 0, 0);
            transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    -webkit-transform: translate3d(4px, 0, 0);
            transform: translate3d(4px, 0, 0);
  }
}

@keyframes shake {
  10%, 90% {
    -webkit-transform: translate3d(-1px, 0, 0);
            transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    -webkit-transform: translate3d(2px, 0, 0);
            transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    -webkit-transform: translate3d(-4px, 0, 0);
            transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    -webkit-transform: translate3d(4px, 0, 0);
            transform: translate3d(4px, 0, 0);
  }
}

.qarr-modal.modal-blue .header {
  background: #4da1ff;
}

.qarr-modal.modal-blue .lightswitch .label.on, .qarr-modal.modal-blue .lightswitch:not(.dragging).on .label.off {
  background: #4da1ff;
}

.qarr-modal .header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  padding-bottom: 20px;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: #B289EF;
}

.qarr-modal .header .icon {
  margin-left: auto;
  font-size: 22px;
}

.qarr-modal .header .header-text {
  font-family: "OpenSans-Regular", "Helvetica", sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .03em;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

.qarr-modal .header span {
  display: block;
  color: white;
}

.qarr-modal textarea {
  min-width: 300px;
}

.qarr .prompt-modal .btn {
  padding: 10px;
  height: auto;
  border-radius: 5px;
  background: #E9EFF4;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  font-weight: 600;
  font-size: 10px;
  text-transform: uppercase;
  color: #474747;
}

.qarr .prompt-modal .btn.active {
  background: #d8e3ec;
}

.qarr .prompt-modal .prompt-msg, .qarr .prompt-modal .options {
  font-family: "OpenSans-Regular", "Helvetica", sans-serif;
  font-size: 12px;
  color: #474747;
}

.qarr .prompt-modal .buttons {
  float: none;
}

.qarr .prompt-modal .buttons .btn {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.qarr .prompt-modal .buttons .btn:hover {
  color: white;
  background: #474747;
}

.btns, .qarr-modal .btns {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  outline: none;
  text-transform: uppercase;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "OpenSans-Bold", "Helvetica", sans-serif;
  font-size: 10px;
  font-weight: 600 !important;
  letter-spacing: .05em;
  color: #474747;
  padding: 10px 20px;
  height: 40px;
  border: none;
  cursor: pointer;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

.btns.btn, .qarr-modal .btns.btn {
  height: auto !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btns.btn-rounded, .qarr-modal .btns.btn-rounded {
  border-radius: 5px;
}

.btns.btn-mini, .qarr-modal .btns.btn-mini {
  height: 100%;
}

.btns.btn-purple, .qarr-modal .btns.btn-purple {
  color: white;
  background: #966df3;
}

.btns.btn-purple:hover, .qarr-modal .btns.btn-purple:hover {
  background: #b89cf7;
}

.btns.btn-white, .qarr-modal .btns.btn-white {
  color: #474747;
  background: white;
}

.btns.btn-white:hover, .qarr-modal .btns.btn-white:hover {
  color: white;
  background: #474747;
}

.btns.btn-gray, .qarr-modal .btns.btn-gray {
  background: #E9EFF4;
}

.btns.btn-gray:hover, .qarr-modal .btns.btn-gray:hover {
  color: white;
  background: #474747;
}

.btns.btn-green, .qarr-modal .btns.btn-green {
  color: white;
  background: #2fec94;
}

.btns.btn-green:hover, .qarr-modal .btns.btn-green:hover {
  color: white;
  background: #13d57b;
}

.btns.btn-red, .qarr-modal .btns.btn-red {
  color: white;
  background: #f07575;
}

.btns.btn-red:hover, .qarr-modal .btns.btn-red:hover {
  color: white;
  background: #2e2d2d;
}

.btns.btn-link, .qarr-modal .btns.btn-link {
  padding: 0;
  text-transform: none;
}

.btns.customize-sources, .qarr-modal .btns.customize-sources {
  display: inline-block;
  width: 100%;
  color: white !important;
}

.btns.btn-icon .icon, .qarr-modal .btns.btn-icon .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 35px;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btns.btn-icon .btn-text, .qarr-modal .btns.btn-icon .btn-text {
  padding-left: 15px;
}

.btns.btn-icon-right .icon, .qarr-modal .btns.btn-icon-right .icon {
  left: auto;
  right: 0;
}

.btns.btn-icon-right .btn-text, .qarr-modal .btns.btn-icon-right .btn-text {
  padding-left: 0;
  padding-right: 15px;
}

.btns.btn-modal, .qarr-modal .btns.btn-modal {
  display: inline-block;
  outline: none;
  border: 0;
}

.btns.btn-on-red-bg, .qarr-modal .btns.btn-on-red-bg {
  color: white;
  background: #f38c8c;
}

.btns.btn-on-red-bg:hover, .qarr-modal .btns.btn-on-red-bg:hover {
  background: #f17e7e;
}

.qarr .menu {
  margin-top: 10px;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #E9EFF4;
  border-radius: 5px;
}

.qarr .menu hr {
  margin: 10px -15px;
}

.qarr .menu a {
  font-family: "OpenSans-Bold", "Helvetica", sans-serif;
  font-size: 12px;
  letter-spacing: .03em;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

.qarr .menu .sel {
  background: #E9EFF4;
}

.qarr .menu .sel:before {
  content: '' !important;
}

.qarr #reply-email-btn {
  position: relative;
}

.qarr #reply-email-btn .spinner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.qarr #reply-email-btn .link-text.hide {
  opacity: 0;
}

.qarr .menubtn:after {
  color: #a5a6a8;
}

.btn.submit:not(.disabled):not(.inactive):active, .btn.submit:not(.disabled):not(.inactive).active {
  background: #d8e3ec;
}

.qarr #main-container {
  font-family: "OpenSans-Regular", "Helvetica", sans-serif;
  font-weight: 300;
}

.qarr #main-container a {
  font-weight: 400;
  text-decoration: none;
}

.qarr #main-container .large-text {
  font-size: 20px;
}
