@font-face {
  font-family: "OpenSans-Light";
  src: url("../fonts/OpenSans-Light.woff") format("woff"), url("../fonts/OpenSans-Light.ttf") format("truetype");
}
@font-face {
  font-family: "OpenSans-LightItalic";
  src: url("../fonts/OpenSans-LightItalic.woff") format("woff"), url("../fonts/OpenSans-LightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "OpenSans-Regular";
  src: url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "OpenSans-Italic";
  src: url("../fonts/OpenSans-Italic.woff") format("woff"), url("../fonts/OpenSans-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "OpenSans-SemiBold";
  src: url("../fonts/OpenSans-SemiBold.woff") format("woff"), url("../fonts/OpenSans-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "OpenSans-SemiBoldItalic";
  src: url("../fonts/OpenSans-SemiBoldItalic.woff") format("woff"), url("../fonts/OpenSans-SemiBoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "OpenSans-Bold";
  src: url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "OpenSans-BoldItalic";
  src: url("../fonts/OpenSans-BoldItalic.woff") format("woff"), url("../fonts/OpenSans-BoldItalic.ttf") format("truetype");
}
#norules {
  padding: 24px;
}

.qarr-rule-edit #data-list-container {
  margin-top: 30px;
}
.qarr-rule-edit #data-list-container h2 {
  margin-bottom: 0;
}
.qarr-rule-edit #data-list-container p {
  margin: 0 0 5px 0;
}
.qarr-rule-edit #data-list-container .tagify {
  margin-left: -5px;
  margin-top: 10px;
}
.qarr-rule-edit #data-list-container .tagify__input {
  border: none;
  padding: 0;
  margin: 0;
}
.qarr-rule-edit #data-list-container .tagify__input:before {
  line-height: normal;
  top: 2px;
}
.qarr-rule-edit #data-list-container .tags--removeAllBtn {
  margin-top: 15px;
}