.qarr .text-right {
  text-align: right;
}

.qarr .qarr-tag {
  display: inline-block;
  text-transform: uppercase;
  border-width: 1px;
  border-style: solid;
  border-color: #b8c2cc;
  color: #606f7b;
  border-radius: 0.25rem;
  font-size: 0.75rem;
  letter-spacing: 1.5px;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.qarr .qarr-rating {
  margin: 5px 0;
}

.qarr .qarr-rating .qarr-rating-star {
  margin-right: 3px;
}

.qarr .qarr-rating .qarr-rating-star svg {
  width: 15px;
  height: 15px;
}

.qarr .qarr-rating .qarr-rating-star svg * {
  fill: rgba(0, 0, 0, 0.1);
}

.qarr .qarr-rating .qarr-rating-star.active svg * {
  fill: #F1C40E;
}

.qarr .tagify__input {
  border: 1px solid rgba(0, 0, 20, 0.1);
  border-radius: 2px;
  transition: border linear 50ms;
  color: #b9bfc6;
  margin: inherit;
  padding: 5px 7px;
  color: #29323d;
}

.qarr .tagify__input:focus {
  border-color: #0D99F2;
  outline: none;
}

.qarr .tagify {
  margin-left: -5px;
  margin-top: 10px;
  border: none !important;
}

.qarr .tagify tag > div:before {
  background: #f1f5f8 !important;
}

.qarr .tagify tag > div span {
  color: #98A3AE;
}

.qarr .tagify tag:hover div:before {
  top: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  background: #da5a47 !important;
}

.qarr .tagify tag:hover div span {
  color: white;
}

.qarr .tagify tag x {
  border-radius: 3px;
  color: white;
}

.qarr .tagify tag x:hover {
  background: transparent !important;
}

.qarr .tagify tag x:hover + div {
  background: #8c3b2e !important;
}

.qarr .tagify tag x:hover + div span {
  opacity: 1 !important;
}

.qarr .tagify .tagify--notAllowed > div:before {
  background: #D0021B !important;
}

.qarr .tagify .tagify--notAllowed > div span {
  color: white;
}

.qarr-elementindex #sources a {
  display: flex;
}

.qarr-elementindex #sources a .badge-count {
  margin-left: auto;
}

.qarr-elementindex #sources.active {
  background: #f1f5f8;
}

.qarr-elementindex .sidebar .customize-sources:hover {
  color: white;
}

.qarr-elementindex .sidebar .button-group {
  margin-top: 15px;
}

.qarr-elementindex .sidebar .button-group a {
  display: block;
  margin-bottom: 5px;
}

.qarr-elementindex .status.pending {
  background-color: #0D99F2;
  border-color: #0D99F2 !important;
}

.qarr-elementindex .status.approved {
  background-color: #27AE60;
  border-color: #27AE60 !important;
}

.qarr-elementindex .status.rejected {
  background-color: #D0021B;
  border-color: #D0021B !important;
}

.qarr-elementindex .elementindex td[data-attr=feedback] {
  vertical-align: top;
}

.qarr-elementindex .elementindex td[data-attr=stars] {
  min-width: 100px;
}

.qarr-elementindex .elementindex td[data-title=Title], .qarr-elementindex .elementindex td[data-attr=element] {
  min-width: 200px;
}

.qarr .element-block {
  padding: 20px 0;
}

.qarr .element-block.element-info .user-info .qarr-avatar {
  width: 50px;
  height: 50px;
}

.qarr .element-block.element-info .user-info .qarr-avatar img {
  width: 100%;
}

.qarr .element-block.element-info .user-name {
  font-weight: bold;
  margin: 4px 0;
}

.qarr .element-block.element-info .user-location {
  margin: 4px 0;
  color: rgba(0, 0, 0, 0.5);
}

.qarr .element-block.element-info .user-email {
  font-family: Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
}

.qarr .element-block.element-element {
  text-align: center;
}

.qarr .element-block.element-element .element-image {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.qarr .element-block.element-element .element-image img {
  display: block;
  width: 50%;
  margin: auto;
}

.qarr .element-block.element-element .element-image span {
  font-size: 0.75rem;
  color: #e0e0e0;
}

.qarr .element-block.element-element .element-type {
  display: block;
  font-size: 9px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: 600;
}

.qarr .element-block.element-element .element-title {
  font-weight: 500;
  margin: 0;
  color: #757575;
  font-size: 0.875rem;
}

.qarr .element-block.element-element a {
  display: block;
  text-align: center;
  margin: 5px 0 0 0;
  padding: 0;
  transition: all 0.3s ease;
  color: #a3bffa;
  font-size: 0.75rem;
  letter-spacing: 0.025rem;
  text-decoration: none !important;
}

.qarr .element-block.element-element a:hover {
  color: #667eea;
}

.qarr .element-block.element-element.active {
  background: #f1f5f8;
}

.qarr-element-edit .created-date, .qarr-element-edit .no-content {
  margin-bottom: 10px;
  color: rgba(0, 0, 0, 0.5);
}

.qarr-element-edit #feedback .feedback {
  margin-bottom: 20px;
}

.qarr-element-edit #feedback .has-response .response {
  padding: 10px;
  margin-bottom: 10px;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 3px;
}

.qarr-element-edit #feedback .has-response .response .response-author {
  font-size: 12px;
}

.qarr-element-edit #feedback .has-response .response .response-text {
  display: block;
  padding: 10px 0;
}

.qarr-element-edit #feedback .has-response #reply-to-feedback {
  pointer-events: none;
  cursor: not-allowed;
}

.qarr-element-edit .element-info {
  text-align: center;
}

.qarr-element-edit .element-info .qarr-avatar {
  margin: auto;
}

.qarr-element-edit .block-actions {
  display: flex;
}

.qarr-element-edit .block-actions .delete-entry {
  margin-left: auto;
}