.qarr-widgets .widget-header {
  margin-bottom: 1rem;
}

.qarr-widgets .widget-pie svg {
  margin: auto;
}

.qarr-widgets .pie-stats {
  display: flex;
  align-items: center;
  justify-content: center;
}

.qarr-widgets .pie-stats .stat-item {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.qarr-widgets .pie-stats .stat-label {
  font-size: 0.75rem;
  color: #9e9e9e;
}

.qarr-widgets .pie-stats .stat-value {
  @applpy text-gray-800;
}