{% extends "_layouts/cp" %}

{% do view.registerAssetBundle("owldesign\\qarr\\web\\assets\\UI") %}
{% do view.registerAssetBundle("owldesign\\qarr\\web\\assets\\ElementShared") %}
{% do view.registerAssetBundle("owldesign\\qarr\\web\\assets\\ElementEdit") %}

{% import "_includes/forms" as forms %}
{% import "qarr/_includes/macros/_buttons" as buttons %}

{% set selectedSubnavItem = "reviews" %}
{% set bodyClass = 'qarr qarr-element-edit' %}

{% set tabs = [
    {
        'id': 'feedback',
        'label': 'Feedback',
        'url': '#feedback'
    },
    {
        'id': 'correspondence',
        'label': 'Email Correspondence',
        'url': '#correspondence'
    }
] %}

{% block content %}

    <div id="feedback">
        <div class="block-element {% if entry.reply %}has-response{% endif %}">
            <div class="block-header flex-container mb-2">
                <h2>{{ 'Feedback'|t('qarr') }}</h2>
                <span class="ml-auto">
                {% include 'qarr/_elements/element-postdate' ignore missing with {entry: entry} %}
            </span>
            </div>

            <div class="block-body">
                <div class="feedback">
                    <div class="element-block element-details">
                        {% include 'qarr/_elements/element-flags' ignore missing with { entry: entry, type: 'reviews' } %}
                        {% include 'qarr/_elements/element-abuse' ignore missing with { entry: entry, type: 'reviews' } %}

                        {% set flaggedWords = flaggedWords(entry.flags) %}
                        {% if flaggedWords %}
                            {% set feedback = entry.feedback|occurrence(flaggedWords) %}
                        {% else %}
                            {% set feedback = entry.feedback %}
                        {% endif %}

                        <p class="feedback-text text-lg">{{ feedback |raw }}</p>
                    </div>
                </div>

                <div class="response">
                    {% if entry.reply %}
                        {% include 'qarr/_elements/element-review-reply' ignore missing with {
                            response: entry.reply,
                            entry: entry
                        } %}
                    {% endif %}
                </div>

                <div class="mt-6 mb-4">
                    {{ buttons.withIcon({
                        class: 'btn secondary',
                        id: 'reply-to-feedback',
                        type: 'review',
                        elementId: entry.id,
                        disabled: entry.reply,
                        icon: 'share',
                        text: 'Reply to feedback'|t('qarr'),
                        spinner: true
                    }) }}
                </div>
            </div>

            <hr>

            {% include 'qarr/_elements/element-actions' ignore missing with { entry: entry, type: 'reviews' } %}
        </div>

        {# DISPLAY FIELDS#}
        {% if fieldLayoutTabs is defined is not empty %}
            {% include 'qarr/_elements/element-entry-display-fields' ignore missing with { entry: entry } %}
        {% endif %}

    </div>

    <div id="correspondence" class="hidden">
        {% include 'qarr/_elements/element-entry-correspondence' ignore missing with { entry: entry, type: 'reviews' } %}
    </div>

{% endblock %}

{% block details %}
    {% include 'qarr/_elements/element-entry-settings' ignore missing with { entry: entry, type: 'reviews' } %}
{% endblock %}
