{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * QARR plugin for Craft CMS
 *
 * QARRUtility Utility Content
 *
 * @author    Vadim Goncharov
 * @copyright Copyright (c) 2018 Vadim Goncharov
 * @link      https://owl-design.net
 * @package   QARR
 * @since     1.0.0
 */
#}

<h1>QARRUtility</h1>

{% set iconUrl = view.getAssetManager().getPublishedUrl('@owldesign/qarr/assetbundles/qarrutilityutility/dist', true) ~ '/img/QARRUtility-icon.svg' %}

<img src="{{ iconUrl }}" height="64" width="64" />

<p>Your Utility content goes here</p>

<p>{{ someVar }}</p>